.vs/StringSorting/FileContentIndex/41d0c3e4-09bb-42c7-9127-70342bab4250.vsidx
.vs/
StringGenerator/bin/Debug/netcoreapp3.1/StringGenerator.deps.json
StringGenerator/bin/
StringGenerator/obj/
StringSorting.Common/bin/Debug/
StringSorting.Common/bin/
StringSorting.Common/obj/
StringSorting.Test/bin/
StringSorting.Test/obj/
StringSorting/bin/
StringSorting/obj/
